/* App.css */
body {
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 36px;
  }

  button {
    width: auto;
  }
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
button {
    background-color: #6200ee;
    color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
